{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <title>Line Bot 專案</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stark_lab_project3.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/project3.css' %}"> <!-- 引入單獨的CSS檔案 -->
  </head>
  <body style="margin: 0; background: #ffffff">
    <input
      type="hidden" 
      id="anPageName"
      name="page"
      value="stark_lab_project_linebot"
    />
    <div class="container-center-horizontal">
      <div class="stark_lab_project_linebot screen">
        <!-- 導航欄 -->
        <div class="overlap-group3">
          <div class="navigation-bar">
            <img class="logo-1" src="{% static 'img/------logo-1@2x.png' %}" alt="logo 1" />
            <div class="navbar notosanstc-semi-bold-black-20px">
              <a href="stark_lab_home.html">
                <div class="navbar-link-text notosanstc-semi-bold-black-20px">首頁</div>
              </a>
              <a href="stark_lab_project.html">
                <div class="navbar-link-text notosanstc-semi-bold-black-20px">研究專案</div>
              </a>
              <a href="stark_lab_member.html">
                <div class="navbar-link-text notosanstc-semi-bold-black-20px">成員介紹</div>
              </a>
              <a href="stark_lab_professor.html">
                <div class="navbar-link-text notosanstc-semi-bold-black-20px">論文研究</div>
              </a>
            </div>
          </div>
          <img class="line-30" src="{% static 'img/line-30.svg' %}" alt="Line 30" />
        </div>

        <!-- 中間內容撰寫區域 -->
        <div class="main-content">
          <div class="photo-container">
              <!-- 照片區域 1 -->
              <div class="photo-section">
                  <img src="{% static 'img/picture_1.jpg' %}" alt="照片1描述" class="photo">
                  <p class="caption">Linebot上的成果_1</p>
              </div>

              <!-- 照片區域 2 -->
              <div class="photo-section">
                  <img src="{% static 'img/picture_2.jpg' %}" alt="照片2描述" class="photo">
                  <p class="caption">Linebot上的成果_2</p>
              </div>

              <!-- 照片區域 3 -->
              <div class="photo-section">
                  <img src="{% static 'img/picture_3.jpg' %}" alt="照片3描述" class="photo">
                  <p class="caption">Linebot上的成果_3</p>
              </div>
          </div>

          <!-- 成品連結 -->
          <br><br>
          <a href="http://starklab.tw:3000/api/news/sql/" style="color: rgb(82, 126, 214); font-size: 25px; text-align: left; display: block;">JSON檔成品展示</a>
          <br>          <br>
          <a href="https://github.com/KGISGOOD/StarkLab/blob/main/labweb/lab/mylab/project3_README.md" style="color: rgb(82, 126, 214); font-size: 25px; text-align: left; display: block;">程式碼介紹</a>
          <br>
        </div>

        <!-- 頁腳 -->
        <div class="group-36">
          <div class="footer">
            <div class="navigation-and-contacts">
              <div class="frame-26">
                <div class="contact-us">
                  <div class="heading">
                    <div class="label-1">
                      <div class="label-2 notosans-bold-navy-blue-20px">Contact us:</div>
                    </div>
                  </div>
                  <div class="info">
                    <div class="email-d04921004ntuedutw notosans-normal-white-18px">Email: D04921004@ntu.edu.tw</div>
                    <p class="address-100 notosanstc-normal-white-18px">
                      Address: 100台北市中正區貴陽街一段56號 No. 56, Sec. 1, Guiyang St., Zhongzheng Dist., Taipei City<br /><br />
                      ©2025 Soochow University Starklab . All Rights Reserved.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="group-30" src="{% static 'img/group-30-2@2x.png' %}" alt="Group 30" />
        </div>
      </div>
    </div>
  </body>
</html>