{% load static %}

<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>史塔克實驗室</title>

  <!-- 引入 CSS 檔案 -->
  <link rel="stylesheet" href="{% static 'css/components.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
  <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/template-style.css' %}">

  <!-- 引入 Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <!-- 引入 JS 檔案 -->
  <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
</head>


<body class="size-1140">
  
  <!-- HEADER -->
  <header role="banner" class="position-absolute">
    <!-- Top Navigation -->
    <nav class="background-transparent background-transparent-hightlight full-width sticky">
      <div class="s-12 l-2">
        <a href="/" class="logo1">
          <!-- Logo White Version -->
          <img class="logo-white" src="{% static 'img/logo1.png' %}" alt="">
          <!-- Logo Dark Version -->
          <img class="logo-dark" src="{% static 'img/logo3.png' %}" alt="">
        </a>        
      </div>
      <div class="top-nav s-12 l-10">
        <p class="nav-text"></p>
        <ul class="right chevron">
          <li><a href="/">Home</a></li>
          <li><a href="/products/">研究</a></li>
          <li><a href="/about/">關於我們</a></li>
          <li><a href="/gallery/">成員</a></li>
          <li><a href="/contact/">聯絡我們</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- MAIN -->
  <main role="main">
    <!-- Content -->
    <article>
      <header class="section background-dark">
        <div class="line">
          <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">水利署LLM語音辨識</h1>
          <p class="margin-bottom-0 text-size-16">作者：鄭凱峻</p>
        </div>
      </header>
      <br>
      <br>
      <a href="{% url 'voice_search' %}" class="text-primary text-size-20">點擊此處查看成果</a>


</body>

</html>