<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>應變報告生成</title>
    <style>
        p {
            color: blue;
            font-weight: bold; /* 加上粗體 */
        }

    </style>
</head>
<body>
    <h1>應變報告生成</h1>
    
    <!-- 災害階段選擇和訓練按鈕 -->
    <form action="{% url 'train_view' %}" method="POST">
        {% csrf_token %}
        <p style="display: inline;">Step 1.</p>
        <label for="disasterPhase">選擇災害階段：</label>
        <select id="disasterPhase" name="disasterPhase">
            <option value="災前">災前</option>
            <option value="災中">災中</option>
            <option value="災後">災後</option>
        </select>
        <button type="submit" name="action" value="trainButton">訓練</button>
        <span id="train-status">{{ train_message }}</span>
    </form>
    <br>

    <!-- 測試 API 按鈕表單
    <form action="{% url 'test_groq_api' %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="action" value="testButton">測試 API</button>
        <span id="test-status">{{ test_message }}</span>
    </form>
    <br><br> -->

    <!-- 檔案上傳表單 -->
    <form action="{% url 'upload_file' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p style="display: inline;">Step 2.</p>
        <label for="fileUpload">上傳檔案：</label>
        <input type="file" id="fileUpload" name="fileUpload" onchange="this.form.submit()"><br><br>
    </form>

    <!-- 生成內容表單 -->
    <form action="{% url 'generate_view' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="inputText">輸入框：</label><br>
        <textarea id="inputText" name="inputText" rows="15" cols="80">{{ inputText }}</textarea><br><br>
        <p style="display: inline;">Step 3.</p>
        <button type="submit" name="action" value="generateButton">生成</button><br><br>
    
        <label for="outputText">輸出框：</label><br>
        <textarea id="outputText" name="outputText" rows="15" cols="80" readonly>{{ outputText }}</textarea><br><br>
    </form>
    
    <!-- <button type="button" id="downloadButton">查看紀錄</button> -->
</body>
</html>
