/* screen - member page */

.stark_lab_member {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3604px;
  width: 1440px;
}

.stark_lab_member .overlap-group18 {
  height: 76px;
  margin-top: 60px;
  position: relative;
  width: 1440px;
}

.stark_lab_member .navigation-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0px 100px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.stark_lab_member .navbar {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
}

.stark_lab_member .line-31 {
  height: 2px;
  left: 1140px;
  position: absolute;
  top: 58px;
  width: 81px;
}

.stark_lab_member .overlap-group21 {
  border-radius: 65px;
  height: 600px;
  margin-right: 1.0px;
  margin-top: 70px;
  position: relative;
  width: 1339px;
}

.stark_lab_member .group-14 {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--black);
  border-radius: 65px;
  box-shadow: 0px 5px 0px #000000;
  display: flex;
  height: 624px;
  justify-content: flex-end;
  left: 0;
  min-width: 1339px;
  padding: 105px 66px;
  position: absolute;
  top: 0;
}

.stark_lab_member .content-2 {
  display: flex;
  gap: 28px;
  position: relative;
  width: 488px;
}

.stark_lab_member .person-1 {
  width: 458px;
}

.stark_lab_member .picture-and-name {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 20px;
  padding: 0px 76px 0px 0px;
  position: relative;
}

.stark_lab_member .name-2 {
  height: 195px;
  margin-right: -106.00px;
  position: relative;
  width: 488px;
}

.stark_lab_member .text-47 {
  color: var(--black);
  font-family: var(--font-family-noto_sans_tc);
  font-size: 96px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.stark_lab_member .assistant-professor {
  color: var(--black);
  font-family: var(--font-family-space_grotesk);
  font-size: 40px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 144px;
  width: 484px;
}

.stark_lab_member .line-3 {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 317px;
}

.stark_lab_member .p4 {
  align-self: stretch;
  color: transparent;
  font-family: var(--font-family-noto_sans_tc);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  position: relative;
}

.stark_lab_member .span0 {
  color: var(--navy-blue);
}

.stark_lab_member .span1 {
  color: var(--black);
}

.stark_lab_member .span2 {
  color: var(--black);
  text-decoration: underline;
}

.stark_lab_member .rectangle-80 {
  height: 468px;
  left: 131px;
  object-fit: contain;
  position: absolute;
  top: 75px;
  width: 468px;
}

.stark_lab_member .group-17 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 98px;
  margin-top: 250px;
  min-width: 176px;
}

.stark_lab_member .overlap-group {
  align-items: center;
  background-color: var(--navy-blue);
  border-radius: 9px;
  display: flex;
  height: 62px;
  min-width: 174px;
  padding: 0 33px;
}

.stark_lab_member .text {
  letter-spacing: 0;
  line-height: normal;
  min-height: 46px;
  min-width: 108px;
}

.stark_lab_member .group-container {
  align-items: flex-start;
  display: flex;
  gap: 50px;
  margin-right: 1.0px;
  margin-top: 70px;
  min-width: 1339px;
}

.stark_lab_member .group {
  align-items: flex-start;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--black);
  border-radius: 65px;
  box-shadow: 0px 5px 0px #000000;
  display: flex;
  height: 500px;
  justify-content: flex-end;
  min-width: 413px;
  padding: 34.8px 47.8px;
}

.stark_lab_member .overlap-group-1 {
  height: 400px;
  position: relative;
  width: 317px;
}

.stark_lab_member .content {
  display: inline-flex;
  gap: 23px;
  left: 0;
  position: absolute;
  top: 0;
}

.stark_lab_member .person {
  align-self: stretch;
  width: 100%;
}

.stark_lab_member .picture {
  height: 102.82px;
  position: relative;
  width: 102.82px;
}

.stark_lab_member .overlap-group-2 {
  height: 500px;
  position: relative; 
  width: 103px;
}

.stark_lab_member .vector {
  height: 98px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 98px;
}

.stark_lab_member .mask-group {
  height: 98px;
  left: 0;
  position: absolute;
  top: 0;
  width: 98px;
}

.stark_lab_member .name {
  height: 49.18px;
  margin-right: -80.00px;
  position: relative;
  width: 198.18px;
}

.stark_lab_member .name-1 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.stark_lab_member .director-of-operations {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 194px;
}

.stark_lab_member .social-icon {
  background-color: var(--navy-blue);
  border-radius: 17px;
  height: 34px;
  margin-left: -67px;
  position: relative;
  width: 34px;
}

.stark_lab_member .text-1 {
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  width: 317px;
}

.stark_lab_member .link {
  left: 282px;
  top: 0;
}

.stark_lab_member .overlap-group2 {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--black);
  border-radius: 65px;
  box-shadow: 0px 5px 0px #000000;
  height: 339px;
  position: relative;
  width: 413px;
}

.stark_lab_member .content-1 {
  display: inline-flex;
  gap: 23px;
  left: 48px;
  position: absolute;
  top: 44px;
}

.stark_lab_member .link-1 {
  left: 330px;
  top: 44px;
}

.stark_lab_member .group-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 50px;
  margin-right: 1.0px;
  margin-top: 20px;
  min-width: 1339px;
}

.stark_lab_member .group-25 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 98px;
  margin-top: 100px;
  min-width: 176px;
}

.stark_lab_member .overlap-group19 {
  height: 277px;
  margin-top: 146px;
  position: relative;
  width: 1378px;
}

.stark_lab_member .navigation-and-contacts {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 66px;
  height: 157px;
  position: relative;
}

.stark_lab_member .frame-26 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 120px;
  margin-bottom: -52.00px;
  position: relative;
}

.stark_lab_member .label {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 7px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 7px;
  position: relative;
}

.stark_lab_member .label-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.stark_lab_member .info {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.stark_lab_member .address-100 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 497px;
}

.stark_lab_member .group-30 {
  height: 30px;
  left: 1152px;
  position: absolute;
  top: 197px;
  width: 114px;
}

.stark_lab_member .content-3 {
  align-items: flex-start;
  flex-direction: column;
}

.stark_lab_member .link-2 {
  height: 35px;
  position: absolute;
  width: 35px;
}

.stark_lab_member .navbar-link-text {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.stark_lab_member .person-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  position: relative;
}
