:root { 
  --black: #000000;
  --grey: #f3f3f3;
  --mirage: #191a23;
  --navy-blue: #0f87e0;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 32px;
  --font-size-xxxxl: 36px;
  --font-size-xxxxxl: 48px;
 
  --font-family-noto_sans: "Noto Sans", Helvetica;
  --font-family-noto_sans_tc: "Noto Sans TC", Helvetica;
  --font-family-space_grotesk: "Space Grotesk", Helvetica;
}
.notosanstc-semi-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_tc);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.spacegrotesk-medium-black-20px {
  color: var(--black);
  font-family: var(--font-family-space_grotesk);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.spacegrotesk-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-space_grotesk);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.notosanstc-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_tc);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.notosanstc-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_tc);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.notosanstc-medium-white-30px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_tc);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.notosanstc-bold-navy-blue-20px {
  color: var(--navy-blue);
  font-family: var(--font-family-noto_sans_tc);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.notosanstc-bold-navy-blue-36px {
  color: var(--navy-blue);
  font-family: var(--font-family-noto_sans_tc);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.notosanstc-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_tc);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.notosans-bold-navy-blue-20px {
  color: var(--navy-blue);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.notosans-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.notosanstc-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_tc);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.spacegrotesk-medium-white-36px {
  color: var(--white);
  font-family: var(--font-family-space_grotesk);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 500;
}

.notosans-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.notosans-bold-navy-blue-60px {
  color: var(--navy-blue);
  font-family: var(--font-family-noto_sans);
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}

.notosanstc-bold-navy-blue-30px {
  color: var(--navy-blue);
  font-family: var(--font-family-noto_sans_tc);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
